/* Navbar Layout */
.site-header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: white;
  border-bottom: 2px solid rgba(128, 128, 128, 0.485);
  box-shadow:0px 1px 2px rgba(128, 128, 128, 0.485);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  padding: 1rem 4rem;
}

.brand {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin-left: -80px;
}

/* Navbar Responsive */
.nav-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    background: var(--bg-light);
    flex-direction: column;
    padding: 1rem 0;
    gap: 1rem;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-toggle {
    display: block;
  }

  .navbar {
    flex-wrap: nowrap;
  }
  
}

