.footer-container{
    padding: 4rem 4rem;
    background-color: #1c1816;
}



.footer-grid{
    display: grid;
    grid-template-columns: 2fr 1fr 1.2fr;
    gap: 3rem;
}

.footer-grid a{
    text-decoration: none;
    color: #ddd;
}


/* .footer-grid a :hover {
    text-decoration: dashed;
} */


.footer-grid h3{
    color: #ecd386;
}

.desc p{
    font-size: .9rem;
}

.footer-col{
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.footer-col-header{
    color: #d4af73;;
}

.footer-container p{
    color: white;
}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.footer-list a:hover{
    color: #ecd386;
}


.divider {
  border: none;
  height: 1px;
  background-color: #ecd386;
  margin: 30px 0;
}

.footer-bottom{
    /* height: 100%; */
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
