#pkgHome{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
}
.pkgContainer{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  margin-top: -10px;
}
#pkgCrownIcon{
  color: #B8954F;
  font-size: 48px;
  margin-bottom: -20px;
}
.pkgContainer .textContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.pkgContainer .noteBox{
  padding: 5px;
  width: 80%;
  background-color:#F9F4EC ;
  color: #B8954F;
  border-radius: 10px;
  border: 1px solid #b8954f2d;
  font-size: 12px;
}
.pkgContainer .slideContainer{
  width: 90%;
  display: flex;
  justify-content: center;
  height: 47%;
}
.pkgContainer .pkgTrack{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
}
.pkgContainer .pkgTrack .pkgSlide{
  padding: 10px 20px;
  background-color: #FFFFFF;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap:10px;
  border: 1px solid #d5a75c;
  border-radius: 10px;
}
.pkgSlide .topPart{
  display: flex;
  justify-content: space-between;
  align-items: start;
  height: fit-content;
}
.pkgSlide .topPart .textContent{
  display: flex;
  justify-content: start;
  flex-direction: column;
  width: 80%;
}
.pkgSlide .priceList{
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 10px;
}
.pkgSlide ul{
  padding-left: 20px;
  margin: 0;
}
.pkgSlide .offerPrice{
  color: #B8954F;
  font-size: 18px;
}
.pkgSlide .actualPrice{
  color: grey;
  text-decoration: line-through;
  font-size: 14px;
}
.pkgSlide .offerBox{
  background-color: green;
  color: white;
  padding:1px 8px;
  border-radius: 10px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.pkgContainer .pkgTrack .pkgSlide.popular{
  border: 3px solid #CBA767;
  box-shadow: 5px 5px 5px 2px rgb(136, 136, 136);
  position: relative;
  scale:1.05;
}
.pkgContainer .pkgTrack .pkgSlide.popular::after{
  content: "⭐ Popular";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #CBA767;
  border-radius: 10px;
  padding: 1px 8px;
  color: white;
  font-size: 13px;
}
.pkgContainer .dropDownBtn{
  display: none;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius:50% ;
  background-color: rgb(249, 247, 236);
  border: 1px solid #F9F4EB;
  color: #B8954F;
  cursor: pointer;
}
.pkgContainer .dropDownBtn i{
  transition: transform 0.2s ease-in-out;
}
.pkgContainer .dropDownBtn.active i{
  transform: rotate(180deg);
}
.pkgSlide .midPart{
  overflow:hidden;
  transition:max-height 0.3s ease;
  max-height: fit-content;
}
.pkgSlide .botPart{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.pkgSlide .bkNow{
  text-decoration: none;
  width: 90%;
  height: 100%;
  background: linear-gradient(90deg,#eec784,#CEAA6C);
  border-radius: 7px;
  color: white;
}
.pkgContainer .viewAllPkgs{
  background-color: #F6EBD8;
  width: 90%;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #CEAA6C;
  box-shadow: 3px 3px 7px 1px grey;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}
.pkgContainer .viewPkgBtn{
  padding: 2px 20px;
  background: linear-gradient(90deg,#eec784,#CEAA6C);
  text-decoration: none;
  color: white;
  border-radius: 10px;
}
@media (hover:hover){
  .pkgContainer .viewPkgBtn:hover{
 
  background: linear-gradient(180deg,#eec784,#CEAA6C);
  
}
}
@media (max-width:768px) {
  .pkgContainer .pkgTrack{
    grid-template-columns: 1fr;
  }
  .pkgContainer .dropDownBtn{
    display: flex;
  }
  .pkgSlide .midPart{
  max-height: 0px;
}

}