/* Hero Section */

.hero {
  min-height: fit-content;
  position: relative;
  display: flex;
  align-items: start;
  max-width: none;
  overflow: hidden;
}

.hero-carousel {
  height: 60vh;
  width: 100%;
  position: relative;
  max-width: none;
  overflow: hidden;
}

.hero-slide {
  position: relative;
  min-height: 80vh;
  display: none;
  align-items: center;
  width: 100%;
}

.hero-slide .container{
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  padding: 0 20px;
}


.hero-slide.active{
  display: flex;
}

.hero-slide img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  z-index: 0;
}

.hero-slide::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

.hero-content {
  position: relative;
  /* max-width: 600px; */
  color: var(--color-light);
  text-align: center;

  /* check */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* check */

}

.hero-content h2 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1rem;
  max-width: 520px;
  margin-bottom: 2rem;
  color: #f0f0f0;
  line-height: 1.7;
}

.hero-actions {
  display: flex;
  gap: 1rem;
}

.hero-badge {
  display: inline-block;
  margin-bottom: 1rem;
  padding: 0.35rem 0.8rem;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.05em;

  color: var(--color-light);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 20px;
}

.hero-actions .btn {
  padding: 0.75rem 1.6rem;
}

.hero-actions .btn:not(.book-btn-primary) {
  border: 1px solid var(--color-light);
  color: var(--color-light);
}


/* Hero Section Responsive Styles */
@media (max-width: 768px) {
  .hero {
    min-height: 70vh;
  }

  .hero-content {
    text-align: center;
    max-width: 100%;
  }

  .hero-content h2 {
    font-size: 2.2rem;
  }

  .hero-content p {
    font-size: 0.95rem;
    margin-left: auto;
    margin-right: auto;
  }

  .hero-actions {
    flex-direction: column;
    align-items: center;
  }

  .hero-actions .btn {
    width: 100%;
    max-width: 260px;
  }
}
